h1 {
    font-family: sans-serif;
    text-align: center;
}

.image {
    width: 500px;
    height: auto;
}

.click.noclick {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}

.click {
    color: white;
    background-color: black;
}

.noclick {
    color: black;
    background-color: yellow;
}